<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="trendsattribute_feedback_grid_data_source" xsi:type="string">TrendsAttribute\Feedback\Model\ResourceModel\Feedback\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TrendsAttribute\Feedback\Model\ResourceModel\Feedback\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">feedback</argument>
            <argument name="resourceModel" xsi:type="string">TrendsAttribute\Feedback\Model\ResourceModel\Feedback</argument>
        </arguments>
    </virtualType>
</config>