<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TrendsAttribute\AdminSales\Model\ResourceModel\Sales\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order</argument>
            <argument name="eventPrefix" xsi:type="string">trendsattribute_adminsales_collection</argument>
            <argument name="eventObject" xsi:type="string">salesorder_collection</argument>
            <argument name="resourceModel" xsi:type="string">TrendsAttribute\AdminSales\Model\ResourceModel\Sales</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="trendsattribute_adminsales_grid_data_source" xsi:type="string">TrendsAttribute\AdminSales\Model\ResourceModel\Sales\Collection</item>
            </argument>
        </arguments>
    </type>
</config>