<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Task_FlashSale::flashsale" title="Flash Sale" sortOrder="51">
                    <resource id="Task_FlashSale::flashsalegrid" title="Flash Sale Grid" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>