<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="task_flashsale_grid_data_source" xsi:type="string">Task\FlashSale\Model\ResourceModel\Grid\SalesCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Task\FlashSale\Model\ResourceModel\Grid\SalesCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">flash_sale</argument>
            <argument name="resourceModel" xsi:type="string">Task\FlashSale\Model\ResourceModel\Sales</argument>
        </arguments>
    </virtualType>
</config>